{% extends 'base.html' %}

{% block title %}Об авторе{% endblock title %}

{% block content %}
  <div class="container">
    <h1 class="display-1 text-center my_style_h1">Привет, я Георгий aka SivikGosh</h1>
    <p style="width: 32%; margin: 30px auto;">
      <a href="https://github.com/SivikGosh" class="display-1 my_style_a">
        <img src="https://github.githubassets.com/favicons/favicon.png"
             alt="github" 
             class="my_style_icon">
          SivikGosh
      </a>
      <a href="https://t.me/SivikGosh" class="display-1 my_style_a">
        <img src="https://telegram.org/img/favicon-32x32.png"
             alt="tg"
             class="my_style_icon">
          SivikGosh
      </a>
    </p>
    <p>
      Меня вдохновляют незаурядные личности из мира
      технологий, такие как Стив Джобс и Илон Маск
      (в реальной жизни) и Тони Старк и Брюс Уэйн (из вымышленных миров).
    </p>
    
  </div>
{% endblock content %}